.card{
    border-radius: 5px;
    display: block;
    border:1px solid #d4c2c8;
    padding: 1rem;
    margin:2rem;
    transition: transform 0.2s;
    background-color: black;
    /* background-color: rgb(197, 197, 237); */

}

.fallback-image {
  background-image: url('../../assets/Jonas.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} 

